body{
    box-sizing: border-box;
    margin: 0px auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-left: 120px;
    margin-right: 120px;
}
.header ul{
    display: flex;
    gap: 32px;
}
.header ul a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #001931;
    font-size: 16px;
    font-weight: medium;

}
.header ul li{
    list-style: none;
}
.header  li a:hover{
    color: green;
}
.btn{
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-family: "Inter", sans-serif;
    padding: 12px 16px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    

}
.btn:hover{
    background-color: white;
    color: green;
    border: 1px solid green;
    cursor: pointer;
}
.banner_container{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 120px;
    text-align: center;
}
.btn-2{
    color:#30B868 ;
    background-color: #FFFFFF;
    padding: 6px 8px;
    border-radius: 1000px;
    border: none;
    font-family: "Inter", sans-serif;
}
.btn-2:hover{
    background-color:green;
    color: white;
    border: 1px solid whitesmoke;
    cursor: pointer;
}
.banner h1{
    font-weight: bold;
    font-size: 72px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;

}
.banner span{
    color: #30B868;
}
.banner p{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    line-height: 24px;

}
.btn-3{
    background-color: #30B868;
    padding: 12px 10px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    margin-right: 14px;
    border: none;
    border-radius: 4px;
}
.btn-3:hover{
    background-color:white;
    color: green;
    border: 1px solid green;
    cursor: pointer;
}
.btn-4{
    color: #FFFFFF;
    padding: 12px 12px;
    border: 1px solid white;
    background-color: transparent;
    font-family: "Inter", sans-serif;
}
.btn-4:hover{
    background-color: transparent;
    color: #30B868;
    border-radius: 5px;
    border: 1px solid green;
    cursor: pointer;
}
/* card section */
.card_container{
    display: flex;
    text-align: center;
    gap: 24px;
    margin-top: 44px;
     margin-right: 120px;
    margin-left: 120px;

}
.card_section{
    text-align: center;
   
}
.card{
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    padding: 24px 24px;
    height: 300px;
    width: 322px;
    
}
.card_section_heading{
    color: #001931;
    font-weight: bold;
    font-size: 48px;
    font-family: "Inter", sans-serif;
}
.card_section_description{
    color: #627382;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
.card_heading{
    color: #001931;
    font-weight: 600px;
    font-size: 24px;
    font-family: "Inter", sans-serif;

}
.card_description{
    color: #627382;
    font-size: 16px;
     font-family: "Inter", sans-serif;
}
.card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 20px;
    margin: 45px 0px 16px 0px;
}

/* brain section */

.brain-container{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 100px;
}
.brain-section{
    margin: 120px;
}
.point{
    display: flex;
    align-items: center;
    gap: 6px;

}
.brain-image{
    width: 50%;
}
.brain-img{
    border-radius: 12px;
    max-width:100%;
    align-self: center;
    /* height: auto;   */
}
.brain-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.point img{
    height: 20px;
    width: 20px;
}
.solution{
    color: #30B868;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
.brain-title{
    color: #001931;
    font-weight: bold;
    font-size: 48px;
    font-family: "Inter", sans-serif;
}
.brain-description{
    color: #627382;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
.point p{
    color: #001931;
    font-family: "Inter", sans-serif;
}
/* think section */
.think-section{
    margin: 120px;
}
.think-container{
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
}
.think-title{
    color: #001931;
    font-weight: bold;
    font-size: 40px;
    font-family: "Inter", sans-serif;
}
.think-description{
    color: #627382;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
/* credit section */
.credit{
    color: #627382;
    font-size: 16px;
     font-family: "Inter", sans-serif;

}
footer{
    text-align: center;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
    
}
.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-section p{
    color: #FFFFFF;
}
small{
    color: #FFFFFF;
}
 footer hr{
    margin-top: 80px;
    border: 0px;
    height: 1px;
    background-color: #505757;
    
    
}
 footer a i{
    color: #FFFFFF;
}