body{
    margin: 0px auto;
    max-width: 1140px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.header ul{
    display: flex;
    gap: 32px;
}
.header ul a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #001931;
    font-size: 16px;
    font-weight: medium;

}
.header ul li{
    list-style: none;
}
.btn{
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-family: "Inter", sans-serif;
    padding: 12px 16px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    

}
.btn:hover{
    background-color: white;
    color: green;
    border: 1px solid green;
    cursor: pointer;
}

